
/*
    #3F2225
    #CE807F
    #9B9B9B
    #918594
	#f7dcd5
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,400&display=swap');

:root {
	--jon: #3F2225;
	--pink: #CE807F;
	--gray: #9B9B9B;
	--purple: #918594;
	--black: #171616;
	--white: #f7dcd5;
}

body {
	margin: 0px;
	height: 100vh;
	/* background-color: var(--black); */
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	color: var(--white);
	background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5) ), url("images/wallpaper.jpg");
	background-size: cover;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	margin: 0;
	font-size: 2.5rem;
	margin: 1rem 0px;
	text-shadow: 0px 5px 25px rgba(0, 0, 0, 0.75);
	font-weight: 300;
}

.search {
	position: relative;
	margin: 1rem 0px;
	border-radius: 5px;
	padding: 5px;
	background-color: var(--white);
}

.search #link-alert {
	position: absolute;
	margin: 0;
	left: 100%;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	transition: transform .25s, opacity .25s;
	color: var(--pink);
}

.search > div {
	transform: none;
	opacity: 0;
}

.search > .active {
	transform: translateX(-40px);
	opacity: 1;
}

.search input {
	width: 600px;
	border: none;
	background: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.35rem;
	color: var(--black);

	transition: box-shadow .5s cubic-bezier(.06,.78,.53,.97);
	display: inline;
}

.search input:focus {
	outline: none;
}

.search:focus-within {
	box-shadow: 0px 0px 10px 2.5px var(--pink);
}

.shortcuts {
	margin: 1rem 0px;
	display: flex;
	justify-content: space-between;
}

.shortcuts div {
	position: relative;
	color: var(--white);
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--white);
	background-color: var(--jon);
	padding: 0.5rem;
	margin: 5px;
	width: 150px;
	box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
}

.shortcuts div::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: inherit;
	background: radial-gradient(
		circle at center,
		rgba(255, 255, 255, 0),
		rgba(0, 0, 0, 0.1)
	);
	transition: opacity .25s;
	z-index: 2;
	opacity: 0;
}

.shortcuts div:hover::before,
.shortcuts div:focus-within::before{
	opacity: 1;
}


.shortcuts h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 1.3rem;
	margin: 10px 0px;
}

.shortcuts ul {
	margin: 10px 0px;
	padding: 0px;
	list-style-type: none;
}

.shortcuts li {
	margin: 10px 0px;
}

.shortcuts a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	outline: none;
	text-decoration: none;
	color: var(--white);
	transition: color .25s;
}

.shortcuts a:hover {
	color: var(--purple);
}

.shortcuts a:focus {
	color: var(--purple);
}
